[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "scripts"]
	path = scripts
	url = https://github.com/rajitbanerjee/scripts
[submodule "jupyter/nbextensions/jupyter-vim-binding"]
	path = jupyter/nbextensions/jupyter-vim-binding
	url = https://github.com/lambdalisue/jupyter-vim-binding
