<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.unison-brajitdocs</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/unison</string>
        <string>brajitdocs</string>
        <string>-auto</string>
        <string>-batch</string>
        <string>-repeat</string>
        <string>watch</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/unison-brajitdocs.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/unison-brajitdocs-err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
